/*vikalp*/
/*Main Class 1
.subdivisoncreate svg {
  position: absolute;
  ! z-index: 1; 
  right: 35px;
  top: 50%;
  width: 20px;
  height: 20px;
  fill: none;
  margin: -10px 0 0 0;
}
.subdivisoncreate svg path {
  stroke-dasharray: 64;
  stroke-dashoffset: 127;
  transition: stroke-dasharray 0.8s ease 0.8s, stroke-dashoffset 0.8s ease 0.5s;
}
.subdivisoncreate svg polyline {
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  transition: stroke-dashoffset 0.5s ease 0s;
}




Product Cat.
#Pcate.success svg polyline, #Pcate.success svg path {
  stroke: #69dd95;
}
.subdivisoncreate .success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#Pcate.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}
Product Cat.



Add Product Sub Cat.
#AddprosubcaT.success svg polyline, #AddprosubcaT.success svg path {
  stroke: #69dd95;
}
.subdivisoncreate .success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#AddprosubcaT.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}
Add Product Sub Cat.


Add Product Sub Cat.
#Pscat.success svg polyline, #Pscat.success svg path {
  stroke: #69dd95;
}
.subdivisoncreate .success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#Pscat.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}


Add Product Sub Cat.
#Upscat.success svg polyline, #Upscat.success svg path {
  stroke: #69dd95;
}
.subdivisoncreate .success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#Upscat.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}

Add Circle.
#Cir.success svg polyline, #Cir.success svg path {
  stroke: #69dd95;
}
.subdivisoncreate .success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#Cir.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}

Add Circle and Division.
#cirCle.success svg polyline, #cirCle.success svg path {
  stroke: #69dd95;
}
.subdivisoncreate .success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#cirCle.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}
#DIV.success svg polyline, #DIV.success svg path {
  stroke: #69dd95;
}
.subdivisoncreate .success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#DIV.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}

Add Circle Division and sub Division
#AddcirclE.success svg polyline, #AddcirclE.success svg path {
  stroke: #69dd95;
}
.subdivisoncreate .success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#AddcirclE.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}

#AdddivisioN.success svg polyline, #AdddivisioN.success svg path {
  stroke: #69dd95;
}
.subdivisoncreate .success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#AdddivisioN.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}


#SubDiv.success svg polyline, #SubDiv.success svg path {
  stroke: #69dd95;
}
.subdivisoncreate .success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#SubDiv.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}

//Country-State-City
#CounAdd.success svg polyline, #CounAdd.success svg path {
  stroke: #69dd95;
}
.subdivisoncreate .success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#CounAdd.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}

#sta.success svg polyline, #sta.success svg path {
  stroke: #69dd95;
}
.subdivisoncreate .success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#sta.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}

#cit.success svg polyline, #cit.success svg path {
  stroke: #69dd95;
}
.subdivisoncreate .success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#cit.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}

#counSelect.success svg polyline, #counSelect.success svg path {
  stroke: #69dd95;
}
.subdivisoncreate .success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#counSelect.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}

#selectCoun.success svg polyline, #selectCoun.success svg path {
  stroke: #69dd95;
}
.subdivisoncreate .success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#selectCoun.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}

#selectState.success svg polyline, #selectState.success svg path {
  stroke: #69dd95;
}
.subdivisoncreate .success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#selectState.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}
//End Country-State-City

//TenderCategory-AreaOfWork
#selectTendercat.success svg polyline, #selectTendercat.success svg path {
  stroke: #69dd95;
}
.subdivisoncreate .success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#selectTendercat.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}

#selectCat.success svg polyline, #selectCat.success svg path {
  stroke: #69dd95;
}
.subdivisoncreate .success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#selectCat.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}

#selectAreawork.success svg polyline, #selectAreawork.success svg path {
  stroke: #69dd95;
}
.subdivisoncreate .success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#selectAreawork.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}

#areaWork.success svg polyline, #areaWork.success svg path {
  stroke: #69dd95;
}
.subdivisoncreate .success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#areaWork.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}

#keyW.success svg polyline, #keyW.success svg path {
  stroke: #69dd95;
}
.subdivisoncreate .success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#keyW.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}

//End Tender Category AreaOf Work

//Tooltip


.tipdata-bottom span {
    border: 1px solid;
    padding: 15px;
   
}
.tipdata-bottom{
position:relative;
}
.tipdata-bottom span {
    display: none;
    border: 1px solid #2395f4;
    padding: 8px;
    background: #2196F3;
    border-radius: 2px;
    color: #fff;
}
.tipdata-bottom span a .fa{
color:#000;
}
.tipdata-bottom span a .fa:hover{
color:red;
}
.tooltip-content:hover .tipdata-bottom span{
 display: block;
}
.tooltip-content{
display:inline-block;
}
.date-cl {
    position: absolute;
    top: 18px;
    width: 100%;
	z-index:9;
}*/



/*.tipdata span:after {
    position: absolute;
    height: 0px;
    width: 0px;
    top: 100%;
    left: 170.5px;
    display: inline-block;
    content: "";
    border-width: 9px 12px 0px;
    border-color: rgb(35, 149, 244) transparent transparent;
    border-style: solid;
}
.tipdata span:before {
    position: absolute;
    height: 0px;
    width: 0px;
    top: 100%;
    left: 169.5px;
    display: inline-block;
    content: "";
    border-width: 17px 12px 0px;
    border-color: rgb(35, 149, 244) transparent transparent;
    border-style: solid;
}*/


/*.tipdata-bottom span:before {
    position: absolute;
    height: 0px;
    width: 0px;
    top: -17%;
    left: -1px;
    display: inline-block;
    content: "";
    border-width: 17px 12px 0px;
    border-color: rgb(35, 149, 244) transparent transparent;
    border-style: solid;
    transform: rotate(60deg);
}
.tipdata-bottom span:after {
    position: absolute;
    height: 0px;
    width: 0px;
    top: -4px;
    left: 0px;
    display: inline-block;
    content: "";
    border-width: 9px 12px 0px;
    border-color: rgb(35, 149, 244) transparent transparent;
    border-style: solid;
    transform: rotate(180deg);
}*/


/*vikalp*/
/*firstname*/


#FirstnamE svg {
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  width: 20px;
  height: 20px;
  fill: none;
  margin: -10px 0 0 0;
}
#FirstnamE svg polyline, #FirstnamE svg path {
  stroke: #d1d7e3;
  stroke-width: 1.4;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.3s ease 0s;
}
#FirstnamE svg path {
  stroke-dasharray: 64;
  stroke-dashoffset: 127;
  transition: stroke-dasharray 0.8s ease 0.8s, stroke-dashoffset 0.8s ease 0.5s;
}
#FirstnamE svg polyline {
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  transition: stroke-dashoffset 0.5s ease 0s;
}
#FirstnamE.success svg polyline, #FirstnamE.success svg path {
  stroke: #69dd95;
}
#FirstnamE.success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#FirstnamE.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}
/*firstname*/


/*firstname*/

#MiddlenamE svg {
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  width: 20px;
  height: 20px;
  fill: none;
  margin: -10px 0 0 0;
}
#MiddlenamE svg polyline, #MiddlenamE svg path {
  stroke: #d1d7e3;
  stroke-width: 1.4;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.3s ease 0s;
}
#MiddlenamE svg path {
  stroke-dasharray: 64;
  stroke-dashoffset: 127;
  transition: stroke-dasharray 0.8s ease 0.8s, stroke-dashoffset 0.8s ease 0.5s;
}
#MiddlenamE svg polyline {
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  transition: stroke-dashoffset 0.5s ease 0s;
}
#MiddlenamE.success svg polyline, #MiddlenamE.success svg path {
  stroke: #69dd95;
}
#MiddlenamE.success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#MiddlenamE.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}
/*firstname*/



/*firstname*/

#LastnamE svg {
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  width: 20px;
  height: 20px;
  fill: none;
  margin: -10px 0 0 0;
}
#LastnamE svg polyline, #LastnamE svg path {
  stroke: #d1d7e3;
  stroke-width: 1.4;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.3s ease 0s;
}
#LastnamE svg path {
  stroke-dasharray: 64;
  stroke-dashoffset: 127;
  transition: stroke-dasharray 0.8s ease 0.8s, stroke-dashoffset 0.8s ease 0.5s;
}
#LastnamE svg polyline {
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  transition: stroke-dashoffset 0.5s ease 0s;
}
#LastnamE.success svg polyline, #LastnamE.success svg path {
  stroke: #69dd95;
}
#LastnamE.success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#LastnamE.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}
/*firstname*/


/*firstname*/
#FullnamE svg {
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  width: 20px;
  height: 20px;
  fill: none;
  margin: -10px 0 0 0;
}
#FullnamE svg polyline, #FullnamE svg path {
  stroke: #d1d7e3;
  stroke-width: 1.4;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.3s ease 0s;
}
#FullnamE svg path {
  stroke-dasharray: 64;
  stroke-dashoffset: 127;
  transition: stroke-dasharray 0.8s ease 0.8s, stroke-dashoffset 0.8s ease 0.5s;
}
#FullnamE svg polyline {
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  transition: stroke-dashoffset 0.5s ease 0s;
}
#FullnamE.success svg polyline, #FullnamE.success svg path {
  stroke: #69dd95;
}
#FullnamE.success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#FullnamE.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}
/*firstname*/


/*firstname*/

#CompanY svg {
  position: absolute;
  z-index: 1;
  right: -53px;
  top: 50%;
  width: 20px;
  height: 20px;
  fill: none;
  margin: -10px 0 0 0;
}
#CompanY svg polyline, #CompanY svg path {
  stroke: #d1d7e3;
  stroke-width: 1.4;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.3s ease 0s;
}
#CompanY svg path {
  stroke-dasharray: 64;
  stroke-dashoffset: 127;
  transition: stroke-dasharray 0.8s ease 0.8s, stroke-dashoffset 0.8s ease 0.5s;
}
#CompanY svg polyline {
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  transition: stroke-dashoffset 0.5s ease 0s;
}
#CompanY.success svg polyline, #CompanY.success svg path {
  stroke: #69dd95;
}
#CompanY.success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#CompanY.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}
/*firstname*/


/*firstname*/

#Deg svg {
  position: absolute;
  z-index: 1;
  right: -68px;
  top: 50%;
  width: 20px;
  height: 20px;
  fill: none;
  margin: -10px 0 0 0;
}
#Deg svg polyline, #Deg svg path {
  stroke: #d1d7e3;
  stroke-width: 1.4;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.3s ease 0s;
}
#Deg svg path {
  stroke-dasharray: 64;
  stroke-dashoffset: 127;
  transition: stroke-dasharray 0.8s ease 0.8s, stroke-dashoffset 0.8s ease 0.5s;
}
#Deg svg polyline {
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  transition: stroke-dashoffset 0.5s ease 0s;
}
#Deg.success svg polyline, #Deg.success svg path {
  stroke: #69dd95;
}
#Deg.success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#Deg.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}
/*firstname*/


/*firstname*/

#Mob svg {
  position: absolute;
  z-index: 1;
  right: -51px;
  top: 50%;
  width: 20px;
  height: 20px;
  fill: none;
  margin: -10px 0 0 0;
}
#Mob svg polyline, #Mob svg path {
  stroke: #d1d7e3;
  stroke-width: 1.4;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.3s ease 0s;
}
#Mob svg path {
  stroke-dasharray: 64;
  stroke-dashoffset: 127;
  transition: stroke-dasharray 0.8s ease 0.8s, stroke-dashoffset 0.8s ease 0.5s;
}
#Mob svg polyline {
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  transition: stroke-dashoffset 0.5s ease 0s;
}
#Mob.success svg polyline, #Mob.success svg path {
  stroke: #69dd95;
}
#Mob.success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#Mob.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}
/*firstname*/


/*firstname*/

#EmaiL svg {
  position: absolute;
  z-index: 1;
  right: -70px;
  top: 50%;
  width: 20px;
  height: 20px;
  fill: none;
  margin: -10px 0 0 0;
}
#EmaiL svg polyline, #EmaiL svg path {
  stroke: #d1d7e3;
  stroke-width: 1.4;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.3s ease 0s;
}
#EmaiL svg path {
  stroke-dasharray: 64;
  stroke-dashoffset: 127;
  transition: stroke-dasharray 0.8s ease 0.8s, stroke-dashoffset 0.8s ease 0.5s;
}
#EmaiL svg polyline {
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  transition: stroke-dashoffset 0.5s ease 0s;
}
#EmaiL.success svg polyline, #EmaiL.success svg path {
  stroke: #69dd95;
}
#EmaiL.success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#EmaiL.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}
/*firstname*/


/*firstname*/

#PassworD svg {
  position: absolute;
  z-index: 1;
  right: -48px;
  top: 50%;
  width: 20px;
  height: 20px;
  fill: none;
  margin: -10px 0 0 0;
}
#PassworD svg polyline, #PassworD svg path {
  stroke: #d1d7e3;
  stroke-width: 1.4;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.3s ease 0s;
}
#PassworD svg path {
  stroke-dasharray: 64;
  stroke-dashoffset: 127;
  transition: stroke-dasharray 0.8s ease 0.8s, stroke-dashoffset 0.8s ease 0.5s;
}
#PassworD svg polyline {
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  transition: stroke-dashoffset 0.5s ease 0s;
}
#PassworD.success svg polyline, #PassworD.success svg path {
  stroke: #69dd95;
}
#PassworD.success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#PassworD.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}
/*firstname*/


/*firstname*/

#CPassworD svg {
  position: absolute;
  z-index: 1;
  right: -73px;
  top: 50%;
  width: 20px;
  height: 20px;
  fill: none;
  margin: -10px 0 0 0;
}
#CPassworD svg polyline, #CPassworD svg path {
  stroke: #d1d7e3;
  stroke-width: 1.4;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.3s ease 0s;
}
#CPassworD svg path {
  stroke-dasharray: 64;
  stroke-dashoffset: 127;
  transition: stroke-dasharray 0.8s ease 0.8s, stroke-dashoffset 0.8s ease 0.5s;
}
#CPassworD svg polyline {
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  transition: stroke-dashoffset 0.5s ease 0s;
}
#CPassworD.success svg polyline, #CPassworD.success svg path {
  stroke: #69dd95;
}
#CPassworD.success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#CPassworD.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}
/*firstname*/


/*firstname*/

#Cap svg {
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  width: 20px;
  height: 20px;
  fill: none;
  margin: -10px 0 0 0;
}
#Cap svg polyline, #Cap svg path {
  stroke: #d1d7e3;
  stroke-width: 1.4;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.3s ease 0s;
}
#Cap svg path {
  stroke-dasharray: 64;
  stroke-dashoffset: 127;
  transition: stroke-dasharray 0.8s ease 0.8s, stroke-dashoffset 0.8s ease 0.5s;
}
#Cap svg polyline {
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  transition: stroke-dashoffset 0.5s ease 0s;
}
#Cap.success svg polyline, #Cap.success svg path {
  stroke: #69dd95;
}
#Cap.success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
#Cap.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}
/*firstname*/








/*lastname*/

.lastName svg {
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  width: 20px;
  height: 20px;
  fill: none;
  margin: -10px 0 0 0;
}
.lastName svg polyline, .lastName svg path {
  stroke: #d1d7e3;
  stroke-width: 1.4;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.3s ease 0s;
}
.lastName svg path {
  stroke-dasharray: 64;
  stroke-dashoffset: 127;
  transition: stroke-dasharray 0.8s ease 0.8s, stroke-dashoffset 0.8s ease 0.5s;
}
.lastName svg polyline {
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  transition: stroke-dashoffset 0.5s ease 0s;
}
.lastName.success svg polyline, .lastName.success svg path {
  stroke: #69dd95;
}
.lastName.success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
.lastName.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}
/*lastname*/

.email svg {
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  width: 20px;
  height: 20px;
  fill: none;
  margin: -10px 0 0 0;
}
.email svg polyline, .email svg path {
  stroke: #d1d7e3;
  stroke-width: 1.4;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.3s ease 0s;
}
.email svg path {
  stroke-dasharray: 64;
  stroke-dashoffset: 127;
  transition: stroke-dasharray 0.8s ease 0.8s, stroke-dashoffset 0.8s ease 0.5s;
}
.email svg polyline {
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  transition: stroke-dashoffset 0.5s ease 0s;
}
.email.success svg polyline, .email.success svg path {
  stroke: #69dd95;
}
.email.success svg path {
  stroke-dasharray: 46;
  stroke-dashoffset: 150;
  transition: stroke-dasharray 0.6s ease 0s, stroke-dashoffset 0.8s ease 0.3s, stroke 0.3s ease 0.6s;
}
.email.success svg polyline {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease 0.6s, stroke 0.3s ease 0.6s;
}



/*html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  font-family: Roboto, Arial;
  color: #adafb6;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafc;
}
body .dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
  opacity: 0.5;
  transition: all 0.4s ease;
}
body .dribbble:hover {
  opacity: 1;
}
body .dribbble img {
  display: block;
  height: 36px;
}*/
